{{>licenseInfoCom}}
package {{package}};

{{#imports}}
import {{import}};
{{/imports}}

import com.googlecode.jsonrpc4j.JsonRpcError;
import com.googlecode.jsonrpc4j.JsonRpcErrors;
import com.googlecode.jsonrpc4j.JsonRpcMethod;
import com.googlecode.jsonrpc4j.JsonRpcParam;
import com.googlecode.jsonrpc4j.JsonRpcService;

import org.knime.gateway.v0.service.util.ServiceExceptions;

{{#operations}}
import org.knime.gateway.v0.service.{{baseName}}Service;

/**
 * Json rpc annotated class that wraps another service and delegates the method calls. 
 *
 {{>authors}}
 */
@JsonRpcService(value = "{{baseName}}Service")
{{>generatedAnnotation}}
public class {{classname}} implements {{baseName}}Service {

    private final {{baseName}}Service m_service;
    
    public {{classname}}({{baseName}}Service service) {
        m_service = service;
    }

    {{#operation}}
	/**
     * {@inheritDoc}
     */
    @Override
    @JsonRpcMethod(value = "{{nickname}}")
    {{#vendorExtensions.x-knimegateway-exceptions.executor.0}}
    @JsonRpcErrors(value = {
    {{#vendorExtensions.x-knimegateway-exceptions.executor}}
        @JsonRpcError(exception = {{>exceptionName}}.class, code = -32600,
            data = "{{status-code}}" /*per convention the data property contains the status code*/){{^-last}},{{/-last}}
    {{/vendorExtensions.x-knimegateway-exceptions.executor}}
    })
    {{/vendorExtensions.x-knimegateway-exceptions.executor.0}}
    public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{nickname}}({{#allParams}}{{>serviceQueryParams}}{{>jsonrpc/servicePathParamsJsonRpc}}{{>jsonrpc/serviceHeaderParamsJsonRpc}}{{>jsonrpc/serviceBodyParamsJsonRpc}}{{>jsonrpc/serviceFormParamsJsonRpc}}{{^-last}}, {{/-last}}{{/allParams}}){{>throwsExecutorExceptions}} {
        {{#returnType}}return {{/returnType}}m_service.{{nickname}}({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});    
    }

    {{/operation}}
}
{{/operations}}