{{#vendorExtensions.x-knime-gateway-new-endpoint}}, "{{vendorExtensions.x-knime-gateway-new-endpoint.sinceVersion}}", "{{vendorExtensions.x-knime-gateway-new-endpoint.missingMessage}}"{{/vendorExtensions.x-knime-gateway-new-endpoint}}