{{>licenseInfoCom}}
package {{package}};

{{#imports}}
import {{import}};
{{/imports}}

{{#operations}}

import java.io.IOException;
import java.net.URI;
import java.util.concurrent.TimeoutException;

import javax.ws.rs.ProcessingException;
import javax.ws.rs.WebApplicationException;
import javax.ws.rs.core.GenericType;

import org.knime.core.util.Version;

import com.knime.gateway.service.ServiceException;
import com.knime.gateway.service.{{baseName}}Service;
import com.knime.gateway.service.util.ServiceExceptions;

import com.knime.enterprise.gateway.rest.api.{{baseName}};
import com.knime.enterprise.utility.ExecutorException;
import com.knime.enterprise.utility.PermissionException;
import com.knime.gateway.rest.client.AbstractGatewayClient;

/**
 * Client that provides access to a KNIME Gateway's <tt>{{baseName}}</tt> resource. 
 *
 {{>authors}}
 */
{{>generatedAnnotation}}
public class {{classname}} extends AbstractGatewayClient<{{baseName}}> implements {{baseName}}Service {

    /**
     * See {@link AbstractGatewayClient#AbstractGatewayClient(URI, String)}.
     *
     * @param restAddress
     * @param jwt
     * @param serverVersion
     * @throws InstantiationException
     * @throws IllegalAccessException
     * @throws IOException
     */
    public {{baseName}}Client(final URI restAddress, final String jwt, Version serverVersion)
        throws InstantiationException, IllegalAccessException, IOException {
        super(restAddress, jwt, serverVersion);
    }
    
    {{#operation}}
    @Override
    public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{nickname}}({{#allParams}}{{>serviceQueryParams}}{{>servicePathParams}}{{>serviceHeaderParams}}{{>serviceBodyParams}}{{>serviceFormParams}}{{^-last}}, {{/-last}}{{/allParams}}){{>throwsExecutorExceptions}} {
        try{
            {{#returnType}}return {{/returnType}}doRequest(c -> {
                try {
                    return c.{{nickname}}({{#allParams}}{{#isBodyParam}}toByteArray({{paramName}}){{/isBodyParam}}{{^isBodyParam}}{{paramName}}{{#vendorExtensions.x-knime-gateway-server-param-as-string}}.toString(){{/vendorExtensions.x-knime-gateway-server-param-as-string}}{{/isBodyParam}}{{^-last}}, {{/-last}}{{/allParams}});
                } catch (PermissionException | ExecutorException | IOException | TimeoutException ex) {
                    //server errors
                    throw new ServiceException("Internal server error.", ex);
                } catch (ProcessingException e) {
                    //in case the server cannot be reached (timeout, connection refused)
                    throw new ServiceException("Server doesn't seem to be reachable.",
                        e.getCause());
                }
            }{{>rest-cli/returnType}}{{>rest-cli/newEndpointInfo}});
        } catch (WebApplicationException ex) {
            //executor errors
            com.knime.gateway.entity.GatewayExceptionEnt gatewayException = readAndParseGatewayExceptionResponse(ex, "{{baseName}}", "{{nickname}}");
        {{#vendorExtensions.x-knime-gateway-codegen-executor-exceptions}}
            if (gatewayException.getExceptionName().equals("{{name}}")) {
                throw new {{>exceptionName}}(gatewayException.getExceptionMessage());
            }
        {{/vendorExtensions.x-knime-gateway-codegen-executor-exceptions}}
            throw new ServiceException("Undefined service exception '" + gatewayException.getExceptionName()
                + "' with message: " + gatewayException.getExceptionMessage());
        }
    }
    
    {{/operation}}
}
{{/operations}}