{{>licenseInfo}}
package {{package}};

import javax.ws.rs.*;
import javax.ws.rs.core.Response;

{{#operations}}
{{#appName}}
/**
 * {{{appName}}}
 *
 {{#appDescription}}
 * <p>{{{appDescription}}}
 {{/appDescription}}
 *
 * <p> {{tagDescription}}
 *
 {{>authors}}
 */
{{/appName}}
@Path("{{contextPath}}")
{{#addConsumesProducesJson}}
@Consumes(MediaType.APPLICATION_JSON)
@Produces(MediaType.APPLICATION_JSON)
{{/addConsumesProducesJson}}
{{>generatedAnnotation}}
public interface {{classname}} {

{{#operation}}

    /**
     *
     {{#notes}}
     * {{.}}
     *
     {{/notes}}
     *
     {{#allParams}}
     * @param {{paramName}} {{description}}
     {{/allParams}}
     * @return the response
{{#vendorExtensions.x-knimegateway-exceptions.server}}
     * @throws {{>exceptionName}} {{description}}
{{/vendorExtensions.x-knimegateway-exceptions.server}}
     */
    @{{httpMethod}}
    @Path("{{{path}}}")
{{#hasConsumes}}
    @Consumes({ {{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}} })
{{/hasConsumes}}
{{#hasProduces}}
    @Produces({ {{#produces}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/produces}} })
{{/hasProduces}}
    public Response {{nickname}}({{#allParams}}{{>rest/queryParams}}{{>rest/pathParams}}{{>rest/headerParams}}{{>rest/bodyParams}}{{>rest/formParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
   {{>throwsServerExceptions}};
{{/operation}}
}
{{/operations}}

