{{>licenseInfoCom}}
package {{package}};

import com.knime.enterprise.gateway.rest.api.{{baseName}};

import com.fasterxml.jackson.databind.node.ArrayNode;
import com.fasterxml.jackson.databind.node.JsonNodeFactory;

import javax.ws.rs.core.Response;

/**
 * Implementation of {@link {{baseName}}}. 
 * Essentially forwards the requests via json-rpc 2.0 to the executor.
 *
 {{>authors}}
 */
{{>generatedAnnotation}}
public class {{classname}} extends AbstractGatewayRESTService implements {{baseName}} {

{{#operations}}
{{#operation}}

    {{#summary}}
    /**
     * {{summary}}
     *
     {{#notes}}
     * {{notes}}
     *
     {{/notes}}
     */
    {{/summary}}
    @Override
    public Response {{nickname}}({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
       {{>throwsServerExceptions}} {
        ArrayNode params = JsonNodeFactory.instance.arrayNode();
        {{#allParams}}
        {{^isPrimitiveType}}
        params.add({{paramName}}.toString());
        {{/isPrimitiveType}}
        {{#isPrimitiveType}}
        params.add({{paramName}});
        {{/isPrimitiveType}}
        {{/allParams}}
        return sendGenericJsonRpcRequest(jobId, "{{baseName}}Service.{{nickname}}", params);
    }
{{/operation}}

}
{{/operations}}

