{{>licenseInfoCom}}
package {{package}};

import com.knime.enterprise.gateway.rest.api.{{baseName}};

import com.fasterxml.jackson.databind.node.ArrayNode;
import com.fasterxml.jackson.databind.node.JsonNodeFactory;

import javax.ws.rs.core.Response;

/**
 * Implementation of {@link {{baseName}}}. 
 * Essentially forwards the requests via json-rpc 2.0 to the executor.
 *
 {{>authors}}
 */
{{>generatedAnnotation}}
public class {{classname}} extends AbstractGatewayRESTService implements {{baseName}} {

{{#operations}}
{{#operation}}

    {{#summary}}
    /**
     * {{summary}}
     *
     {{#notes}}
     * {{notes}}
     *
     {{/notes}}
     */
    {{/summary}}
    @Override
    public Response {{nickname}}({{#allParams}}{{#isBodyParam}}byte[]{{/isBodyParam}}{{^isBodyParam}}{{{dataType}}}{{/isBodyParam}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
       {{>throwsServerExceptions}} {
        ArrayNode params = JsonNodeFactory.instance.arrayNode();
        {{#allParams}}
        {{#isBodyParam}}
        params.add(getObjectMapper().readTree({{paramName}}));
       	{{/isBodyParam}} 
        {{^isBodyParam}}
        {{^isPrimitiveType}}
        params.add({{paramName}} == null ? null : {{paramName}}.toString());
        {{/isPrimitiveType}}
        {{#isPrimitiveType}}
        params.add({{paramName}});
        {{/isPrimitiveType}}
        {{/isBodyParam}}
        {{/allParams}}
        {{#isResponseBinary}}
        return sendGenericBinaryJsonRpcRequest(jobId, "{{baseName}}Service.{{nickname}}", params);
		{{/isResponseBinary}}
		{{^isResponseBinary}}
        return sendGenericJsonRpcRequest(jobId, "{{baseName}}Service.{{nickname}}", params);
		{{/isResponseBinary}}
    }
{{/operation}}

}
{{/operations}}

