{{#vendorExtensions.x-knime-gateway-server-param-as-string}}String{{/vendorExtensions.x-knime-gateway-server-param-as-string}}{{^vendorExtensions.x-knime-gateway-server-param-as-string}}{{{dataType}}}{{/vendorExtensions.x-knime-gateway-server-param-as-string}}