{{>licenseInfoCom}}
package {{package}};

import static com.knime.gateway.util.EntityUtil.immutable;

import java.util.Objects;

{{#imports}}
import {{import}};
{{/imports}}

{{#models}}
{{#model}}
import com.knime.gateway.entity.{{name}}Ent;

/**
 * {{#description}}{{.}}{{/description}}{{^description}}{{classname}}{{/description}}
 *
 {{>authors}}
 */
{{>generatedAnnotation}}
public class {{classname}} {{#parent}}extends {{{parent}}}{{/parent}} implements {{name}}Ent {

  {{#vars}}
  protected {{{datatypeWithEnum}}} m_{{name}};
  {{/vars}}
  
  protected {{classname}}() {
    //for sub-classes
  }
  
  @Override
  public String getTypeID() {
    return "{{name}}";
  }
  
  private {{classname}}({{classname}}Builder builder) {
    {{#parent}}super();{{/parent}}
    {{#allVars}}
    {{#required}}
    if(builder.m_{{name}} == null) {
        throw new IllegalArgumentException("{{name}} must not be null.");
    }
    {{/required}}
    m_{{name}} = immutable(builder.m_{{name}});
    {{/allVars}}
  }
  
   /**
     * {@inheritDoc}
     */
    @Override
    public boolean equals(final Object o) {
        if (this == o) {
            return true;
        }
        if (o == null) {
            return false;
        }
        if (getClass() != o.getClass()) {
            return false;
        }
        {{classname}} ent = ({{classname}})o;
        return{{#allVars}} Objects.equals(m_{{name}}, ent.m_{{name}}){{^-last}} &&{{/-last}}{{/allVars}};
    }


  {{#vars}}
  @Override
  {{#useBeanValidation}}{{>beanValidation}}{{/useBeanValidation}}public {{{datatypeWithEnum}}} {{getter}}() {
        return m_{{name}};
    }
    
  {{/vars}}
  
    public static class {{classname}}Builder implements {{name}}EntBuilder {
    
        public {{classname}}Builder(){
            {{#parent}}super();{{/parent}}
        }
    
        {{#allVars}}
        private {{{datatypeWithEnum}}} m_{{name}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}};
        {{/allVars}}

        {{#allVars}}
        {{^isReadOnly}}
        @Override
        public {{classname}}Builder {{setter}}({{{datatypeWithEnum}}} {{name}}) {
             {{#required}}
             if({{name}} == null) {
                 throw new IllegalArgumentException("{{name}} must not be null.");
             }
             {{/required}}
             m_{{name}} = {{name}};
             return this;
        }

        {{/isReadOnly}}        
        {{/allVars}}
        
        @Override
        public {{classname}} build() {
            return new {{classname}}(this);
        }
    
    }

}
{{/model}}
{{/models}}
