{{>licenseInfoCom}}
package {{package}};

import com.knime.gateway.service.GatewayService;
import com.knime.gateway.service.util.ServiceExceptions;

{{#imports}}import {{import}};
{{/imports}}

{{#operations}}
/**
 * {{x-knime-gateway-codegen-tagDescription}}
 *
 {{>authors}}
 */
{{>generatedAnnotation}}
public interface {{classname}} extends GatewayService {

    {{#operation}}
    /**
     * {{#notes}}{{.}}{{/notes}}
     *
     {{#allParams}}
     * @param {{paramName}} {{description}}
     {{/allParams}}
     *
     * {{#returnType}}@return the result{{/returnType}}
     {{#vendorExtensions.x-knime-gateway-executor-exceptions}}
     * @throws {{>exceptionName}} {{description}}
     {{/vendorExtensions.x-knime-gateway-executor-exceptions}}
     */
    {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{nickname}}({{#allParams}}{{>serviceQueryParams}}{{>servicePathParams}}{{>serviceHeaderParams}}{{>serviceBodyParams}}{{>serviceFormParams}}{{^-last}}, {{/-last}}{{/allParams}}){{>throwsExecutorExceptions}};
        
    {{/operation}}
}
{{/operations}}
