 {{#vendorExtensions.x-knime-gateway-codegen-executor-exceptions.0}} throws {{/vendorExtensions.x-knime-gateway-codegen-executor-exceptions.0}}{{#vendorExtensions.x-knime-gateway-codegen-executor-exceptions}}{{>exceptionName}}{{^-last}}, {{/-last}}{{/vendorExtensions.x-knime-gateway-codegen-executor-exceptions}}