 {{#vendorExtensions.x-knime-gateway-codegen-server-exceptions.0}} throws {{/vendorExtensions.x-knime-gateway-codegen-server-exceptions.0}}{{#vendorExtensions.x-knime-gateway-codegen-server-exceptions}}{{>exceptionName}}{{^-last}}, {{/-last}}{{/vendorExtensions.x-knime-gateway-codegen-server-exceptions}}