 {{#vendorExtensions.x-knimegateway-exceptions.executor.0}} throws {{/vendorExtensions.x-knimegateway-exceptions.executor.0}}{{#vendorExtensions.x-knimegateway-exceptions.executor}}{{>exceptionName}}{{^-last}}, {{/-last}}{{/vendorExtensions.x-knimegateway-exceptions.executor}}